*

!/crates/
!/crates/cupel-inference/
!/crates/cupel-inference/src/
!/crates/cupel-inference/src/**

!.gitignore

!Cargo.toml
!Cargo.lock

!clippy.toml

!AGENTS.md
!CONTRIBUTION.md
!PLAN.md
!README.md
