*

!/crates/

!/crates/cupel-core/
!/crates/cupel-core/src/
!/crates/cupel-core/src/**

!/crates/cupel-agent/
!/crates/cupel-agent/src/
!/crates/cupel-agent/src/**

!/crates/cupel-core/
!/crates/cupel-core/**

!.gitignore

!Cargo.toml
!Cargo.lock

!clippy.toml

!AGENTS.md
!CONTRIBUTION.md
!PLAN.md
!README.md
